.not_event{
    pointer-events: none;
    text-transform: uppercase;
}
.mt-8{
    margin-top: 4rem;
}

body{
   
    background-size: cover;
}

.index_header{
    padding: 30px;
}
.index_header_img img{

}
.index_header_title{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.index_header_title h1{
    color: white;
    z-index: 100;
    font-size: 20px;
    width: 260px;
}
.app-btns.v4 .app-btn{
    border: 0!important;
}
.welcome-area{
    padding: 0!important;
}
.a_2{
    position: relative;
}
.fp-controlArrow{
    display: none!important;
}

.welcome-area.matop{
    margin-top: -100px;
}
.welcome-area.matop1{
    margin-top: 150px;
}
.btns_back{
    display: none;
}
.righshs{
    text-align: right!important;
}
.p200{
    padding: 200px 0!important;
}

.btnse{
    text-align: right!important;
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .btnse{
        text-align: center!important;
        margin-top: 20px;
    }

    .welcome-area.matop{
        margin: 0!important;
    }
    .index_header{
        padding: 15px;
        background: white;
        position: fixed;
        z-index: 10000;
        width: 100%;
    }
    .index_header_img{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .index_header_img img{
        width: 125px;
        height: 25px;
    }
    .index_header_title{
        text-align: right;
        width: 50%;
    }
    .index_header_title h1{
        color: #009b7a;
        width: 100%;
        font-size: 14px;
    }
    body{
        background-size: auto 100%;
        background-position: 100%;
    }
    .app{
        padding: 0!important;
        background: transparent!important;
    }
    .main_area{
        padding: 0!important;
    }
    .welcome-area.v4 .welcome-text h1{
        font-size: 2.5em;
        margin-bottom: 25px;
    }
    .welcome-area.v4 .welcome-text p{

    }
    .form-group label{
        color: white!important;
        font-size: 1.3em;
        display: block;
        width: 100%;
        text-align: left;

    }
    .main_app{
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    .main_app::before{
        content: "";
        background: rgba(29, 71, 94,  0.32);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .fp-prev, .fp-next{
        display: none!important;
    }
    .form-group{
        margin: 0;
    }
    .form-control + span{
        padding: 0!important;
    }
    .form-group input{
        box-shadow: 0px 20px 30px 0px #dde7ee2b!important;
    }
    .btn_atras{

    }
    #Capa_1_c{
        display: none;!important;
    }
    .fotter_btns{

    }
    .btns_next{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btns_back{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .btns_back_atras , .btns_back_salir{
        width: 45%;
    }
    .btns_back_atras  button, .btns_back_salir button{
        width: 100%;
    }
    .btns_back_salir button{
        color: #fff!important;
        background-color: #e12717!important;
        border-color: #e12717!important;
    }
    .btns_back_atras button{
        color: #fff!important;
        background-color: #858796!important;
        border-color: #858796!important;
    }
    .main_area{
        padding-top: 130px!important;
    }
    .app-btns.v4 .app-btn:hover{
        background: #000388!important;
    }
    .app-btn.active hover{
        background: #009B7A!important;
    }
    .app-btns.v4 .app-btn-text{
        font-size: 1.4em;
    }
    .app-btns.v4 .app-btn-text strong{
        font-size: 1.3em ;
        text-align: center;
    }
    .salir_{
        margin-top: 25px!important;
    }
    .salir_gral{
        position: absolute;
        bottom: 5%;
        left: calc(50% - 30px);
        z-index: 10000;
    }
    .cont_resp{
        flex-wrap: wrap!important;
        justify-content: space-around!important;
    }
    .resp_item{
        margin-left: 0!important;
        margin-bottom: 25px;
        width: 35%!important;
    }
    .titulo_pre{
        color: white;
    }
    .resp_item p{
        font-size: 15px;
    }
    .titulo_pre{
        font-size: 22px!important;
    }
    .welcome-area span{
        font-size: 12px;
    }
    #overlay{
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 100000;
        background-image: url("/img/01_frontm.jpg");
        background-size: 100% 100%;
    }
}


